.main{
display: grid;
grid-template-columns: repeat(18, 75px);
grid-auto-rows: 75 px;
gap: 4px;
}

.container{
border: 1px black solid;
}

.name{
font-size: 10px;
text-align: center;
}

.symbol{
font-size: 28px;
font-weight: bold;
text-align: center;
}

.number{
top: 3px;
left: 5px;
font-size: 11px;
}


h1 {
    text-align: center;
}

.helium{
    grid-column: 18;
}

.thirteenth{
    grid-column: 13;
}

.star{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    line-height: 1;
}

.numbers{
    font-size: 10px;
    text-align: center;
    padding: 0;
    line-height: 1;
}

